<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>User List </div>
<div class="content">
    <div id="users">
        <div>Users...</div>
    </div>
</div>

<script type="text/javascript" src="storage.js"></script>
<script type="text/javascript" src="service-helper.js"></script>
<!-- <script type="text/javascript" src="route-guard.js"></script> -->
<script type="text/javascript" src="authService.js"></script>
<script type="text/javascript" src="build-user-list.js"></script>
<script type="text/javascript" src="frontendLogic.js"></script>
</body>
</html>